
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input .error {
  border: 1px solid red;
}
.App{
  width: 100%;
  height: auto;
}

:root{
  --blue:#242F9B;
  --lightblue:#B2C8DF;
  --lightgrey:#EFEFEF;
}
/* input{
  width: 250px;
  height: 45px;`
  border-radius: 5px;
  outline: none;
  border:  2px solid var(--lightblue);
} */
button{
  background-color: var(--blue);
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px;
}
button a{
  color: white;
  text-decoration: none;

}
.navbar-section{
  width: 100%;
  height: auto;
  background: white;
  position: relative;
  top: -18px;
}
.navbar{
  max-width: 1100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-logo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  margin-left: -60px;
}
.navbar-mobile{
  width: 75%;
  display: flex;
  justify-content: space-around ;
}
.navbar-links{
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-links span{
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: relative; 
}
.navbar-links span a{
  text-decoration: none;
  color: grey;
}

.navbar-buttons{
  width: 40%;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  margin-right: -105px;
}
.navbar-buttons .user-logged{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navbar-burger{
  width: 40px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.navbar-burger div{
  height: 5px;
  width: 100%;
  background: var(--blue);
  margin: 5px;
  
}
.footer{
  width: 100%;
  height: 100px;
  display: flex;
  background: var(--lightblue) ;
  margin-top: 120px;
}
.footer-span{
  width: 83%;
  margin: auto;
  display: flex;
}

.footer-half1{
  width: 50%;
  background: white;
  border-right: 1px solid var(--lightgrey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.footer-half2{
  width: 50%;
  background: white;
  display: flex;
  justify-content: space-evenly;
}
.footer-half2-section1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.footer-half2-section1 a {
  text-decoration: none;
}
.footer-half2-section2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

/* syles for Hero compomnents */

.hero{
  max-width: 1100px;
  height: 300px;
  background-image: url("../public/Images/pexels-the-lazy-artist-gallery-1642125\ \(1\).jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.hero-search-area{
  width: 100%;
  height: 100px;
   background: var(--lightblue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
}

.hero-search-area-category select{
  width: 200px;
  height: 35px;
}
.hero-search-area-search input{
  width: 200px;
  height: 35px;
}
.hero-search-area-price input{
  width: 200px;
  height: 35px;
}
.hero-search-area-addBtn button{
  width: 200px;
  height: 35px;
}
.card{
  max-width: 1100px;
  height: auto;
  background: white;
  margin: auto;
  display: flex;
  justify-content: space-between ;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card-section{
  width: 300px;
  height: 350px;
  border: 1px solid rgb(5, 165, 240);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-img{
  width: 100%;
  height: 170px;  
}
.card-img img{
    width: 100%;
    height: 170px;
    object-fit: fill;
}
.card-details{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.card-details h4{
  margin-left: 20px;
}
.card-details p {
  margin-left: 20px;
}
.card-details-price{
  color: red;
}
/* styles for Add property page  */
.form-page{
  width: 100%;
  height: auto;
  /* display: flex;
  justify-content: center; */
}

.form-card{
  /* border: 2px solid var(--blue); */
  background: white;
  border-radius: 5px;
  max-width: 1100px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
}
.form-div1{
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

}
.form-div1-one{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div1-two{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.form-div2-two select{
  width: 350px;
  height: 30px;
  border-radius: 10px;
}

.form-div1 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}

.form-div2 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-div3 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-div4 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-div5 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-div2{
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.form-div2-one{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div2-two{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.form-div3{
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.form-div3-one{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div3-one select{
  width: 350px;
  height: 30px;
  border-radius: 10px;
}
.form-div3-two{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div3-two select{
  width: 350px;
  height: 30px;
  border-radius: 10px;
}
.form-div1-two select{
  width: 350px;
  height: 30px;
  border-radius: 10px;
}
.form-div4{
  width: 75%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.form-div4-one{
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div4-one textarea{
  width: 350px;
  border-radius: 10px;
}

.form-div4-two{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div5{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form-div5 span{
  width: 60%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-div5 span input{
  width: 250px;
  text-align: center;
}
.form-div6{
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.form-div6-one{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div6-two{
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.form-div6 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}

.form-div6 input{
  width: 350px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
}
.form-button{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form-button button{
  width: 350px;
  height: 40px;
}
.form-button button:hover{
  background: var(--lightblue);
}

/* indivualPage styling  */
.indivualPage{
  width: 100%;
  height: auto;
  border: 2px solid yellow;
  background: var(--lightgrey);
}
.indivualpage-images-display-section{
  width: 82%;
  height: 500px;
  margin: auto;
}
.indivualpage-images-display-section img{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  object-fit: fill;
}
.indivualpage-about-area{
  width: 82%;
  height: 500px;
  display: flex;
  margin: auto;
  margin-top: 20px;
}
.indivualpage-abt-property{
  width: 65%;
  height: auto;
}
.details-of-the-property{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
}
.indivualpage-agent-contact-area{
  width: 35%;
  height: auto;
  border: 1px solid var(--lightblue);
}
.property-banner{
  width: 100%; 
  height: 100px;
  border: 1px solid var(--lightgrey);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.property-banner h1{
  text-align: center;
}

.form-to-contact-agent{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.full-name-details{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.full-name-details input , label{
  width: 75%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.phone-number-details{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.phone-number-details input , label{
  width: 75%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.email-details{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
 .email-details input , label{
  width: 75%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.message-details{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.message-details textarea{
  width: 290px;
  height: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.contact-btn{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.contact-btn button{
  width: 100px;
  width: 75%;
}
/* styles for signup page */
.signup{
 margin:auto ;
  width: 82%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightgrey) ;
}
.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 500px;
  /* border: 2px solid green; */
  background: white;
  border-radius: 10px;
  /* margin: auto; */
  
}
.error-div{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-div .error{
  color: red;
  font-size: 20px;
}
.signup-form-name-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;
}
.signup-form-name-input input{
  width: 100%;
  height: 40px;
  border: 2px solid var(--lightblue);
  border-radius: 10px;
}

.signup-form-email-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;
}
.signup-form-email-input input{
  width: 100%;
  height: 40px;
  border: 2px solid var(--lightblue);
  border-radius: 10px;
}
.signup-form-password-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;
}
.signup-form-password-input input{ 
  width: 100%;
  height: 40px;
  border: 2px solid var(--lightblue);
  border-radius: 10px;}
.signup-form-name-input,
.signup-form-email-input,
.signup-form-password-input,
.signup-form-signup-button{
   margin: auto;
   
}
.signup-form-signup-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;  
}
.signup-form-signup-button button{
  cursor: pointer;
}
.signup-form-signup-button p{
  font-size: 20px;
}
.signup-form-signup-button p a{
  text-decoration: none;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto ;
  width: 82%;
  height: 500px;
  background: var(--lightgrey);

}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 400px;
  background: white;
  border-radius: 10px;
  /* margin: auto; */
}
.login-form-input-email{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;

}
.login-form-input-email input{
  width: 100%;
  height: 40px;
  border: 2px solid var(--lightblue);
  border-radius: 10px;
}
.login-form-input-password{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;

}
.login-form-input-password input{
  width: 100%;
  height: 40px;
  border: 2px solid var(--lightblue);
  border-radius: 10px;
}
.login-form-input-email,
.login-form-input-password{
  margin: auto;
}
.login-form-button-login{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;  
}
.login-form-button-login button{
  cursor: pointer;
}
.login-form-button-login p{
  font-size: 20px;
}
.login-form-button-login p a{
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .navbar-section{
    position: relative;
    top: 0px;
  }
  .navbar{
    width: 100%;
    background: var(--lightblue);
    position: relative;
    border: none;
    margin: 0;
  }
  .navbar-logo{
    width: 40%;
  }

  .navbar-mobile{
     position: absolute;
     right: 0;
     top: 48px;
     background: var(--lightblue);
     width: 70%;
     height: 300px;  
     transition: 1.0s ease-in;
     z-index: 3;
     display: flex;
     
    
  }
  .navbar-links{
    width: 100%;
    height: auto;
    
  }
  .navbar-links span{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    position: absolute;
    top: 0px;
  }
  .navbar-buttons{
    position: absolute;
    top: 220px; 
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;   
    margin: auto;
    
  }


  .navbar-burger{
    display: block;
  }
  button{
    width: 70px;
   height: 30px;
  }

  .footer{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--lightgrey);
  }
  .footer-span{
    width: 100%;
    height: 200px;
  }
  .footer-half1{
    width: 100%;
    border: 1px var(--lightgrey);
    display: flex;
    flex-direction: column;
  }
  .footer-half1-section2 p {
   text-align: center;
  }
  .footer-half2{
    width: 100%;
    border: 1px solid var(--lightgrey);
    display: flex;
    flex-direction: column;
  }
  .footer-half2-section1{
    width: 100%;
  }
  .footer-half2-section2{
    width: 100%;
  }
  .hero{
    width: 100%;
    height: 300px;
    background: var(--lightblue);
    margin-top: 20px;

  }
  .hero-search-area{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: none;
    

  }
  .hero-search-area-category {
    width: 100%;
  }
  .hero-search-area-category select{
    width: 100%;
  }
  .hero-search-area-search{
    width: 100%;
  }
  .hero-search-area-search input{
    width: 100%;
  }
  .hero-search-area-price{
    width: 100%;
  }
  .hero-search-area-price input{
    width: 100%;
  }
  
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    
    
  }
  .card-section{
    margin: auto;
    width: 92%;
    margin-bottom: 20px;
  }
  .card-img{
    width: 100%;
    height: 150px;
  }
  .card-img img{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .form-page{
    width: 100%;
  }
  .form-card{
    width: 100%;
    height: auto;
    
  }
  /* styles for addProperty page */
  .form-page{
    width: 100%;
    height: auto;
  }
  .form-card{
    height: 800px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  .form-div1{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    
  }
  .form-div1 span {
     width: 95%;
  }
  .form-div1 span input{
    width: 95%;
    border-radius: 10px;
    outline: none;
  }
  .form-div2{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .form-div2-two select{
    width: 95%;
    height: 30px;
    border-radius: 10px;
    outline: none;
  }

  .form-div2 span{
    width: 95%;
  }
  .form-div2 span input{
    width: 95%;
    border-radius: 10px;
    outline: none;
  }
  .form-div3{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .form-div3-one select {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    outline: none;
  }
  .form-div3-two select {
    width: 95%;
    height: 30px;
    border-radius: 10px;
    outline: none; 
  }
  .form-div3 span{
    width: 95%;
  }
  .form-div3 span input{
    width: 95%;
    border-radius: 10px;
    outline: none;
  }
  .form-div4{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .form-div4 span{
    width: 95%;
  }
  .form-div4 span input{
    width: 95%;
    border-radius: 10px;
    outline: none;
  }
  .form-div6{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .form-div6-one{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .form-div6-one label{
    width: 95%;
    margin: auto;
  }
  .form-div6-one input{
    width: 95%;
    margin: auto;
    outline: none;
  } 
   .form-div6-two{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .form-div6-two label{
    width: 95%;
    margin: auto;
  }
  .form-div6-two input{
    width: 95%;
    margin: auto;
    outline: none;
  } 
  .form-div5 span input {
    width: 300px;
  }
  /* styles for signup page */
  .signup{
    width: 100%;
  }
  .signup-form{
    width: 100%;
  }
  .login{
    width: 100%;
  }
  .login-form{
    width: 100%;
    margin-top: 100px;
  }
  /* indiviual page */
  .indivualPage{
     width: 100%;
     height: auto;
  }
  .indivualpage-images-display-section{
    width: 100%;
    height: 500px;
  }
  .indivualpage-about-area{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
  }
  .indivualpage-abt-property{
    width: 95%;
    margin: auto;
  }
  .indivualpage-agent-contact-area{
    width: 100%;
  }
  .property-banner{
    width: 100%;
    height: 100px;
  }
  .property-banner h1{
    text-align: center;
    margin-left: 30px;
  }
  .message-details textarea{
    width: 370px;
    height: 100px;
  }

  
}
